@model BARBARES_SistemaWeb.Models.Usuario

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

@section featured {
    <div class="container">        
        <form class="form-signin" role="form">
            <img class="img-rounded img-responsive" src="~/images/logo.png" alt="Generic placeholder image">
            <input type="text" class="form-control" placeholder="Ingrese su Usuario" required autofocus />
            <input type="password" class="form-control" placeholder="Contraseña" required />
            <label class="checkbox">
                <input type="checkbox" value="recordar" /> Recordar
            </label>
            <a class="btn btn-link">¿Olvidé mi contraseña?</a>
            <a class="btn btn-lg btn-primary btn-block" href="~/Home/Index">Entrar</a>
        </form>
    </div>
}



